.main-projects{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.style{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: -1;
}

.left{
    width: 60%;
    height: 100%;
}
.right {
    background-color: #1c2467;
    width: 40%;
    margin-top: -10%;
    height: 250%;
    rotate: 9deg;
}

.projects{
    width: 100vw;
    height: 100%;
    padding: 100px;
    overflow-y: auto;
}

.projects ul{
    width: 40%;
}

.projects img{
    width: 60%;
}

.projects section{
    display: flex;
}