<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="projects">
  <h1>Proyects</h1>

  <span class="direccional main-projects">
    <img
      src="../../../assets/Image/icons/right.svg"
      (click)="changueCardRight()"
      alt="button-Right"
    />
    <img
      src="../../../assets/Image/icons/left.svg"
      (click)="changueCardLeft()"
      alt="button-Left"
    />
  </span>

  <section
    class="projects-info"
    *ngFor="let project of projects.slice(this.left, this.right)"
  >
    <span>
      <h2>{{ project.title }}</h2>
      <p>{{ project.descripcion }}</p>
    </span>

    <section class="images">
      <span *ngFor="let image of project.img">
        <!-- <a [routerLink]="['/designProjects', 'detail', project.title]">
          <img src="{{ image }}" alt="prueba.png" width="100%" height="100%s" />
        </a> -->
      </span>
    </section>
  </section>
</div>
