.mainDetail{
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.5rem;
}

.mainDetail img{
 border-radius: 50px; 

}

hr{
    width: 100%;
    margin: 10px 0;
}

.titleDetail{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titleDetail hr{
    margin: 0px;
}


.summaryDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 100vw;
    height: 100vh;
    background-color: #DFECF0;
}
.summaryDetail div{
    padding: 100px 100px 0px 100px;
    display: flex;
    flex-direction: row;
}


.summaryDetail span{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------ */

.summaryCharac{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;   
}

.summaryCharac ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summaryCharac li{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: justify;
    width: 100%;
    height: 100%;
  
}

/* ------------------------------------------------------------------------------------------ */

.users{
    background: linear-gradient(90deg, rgba(255,255,255,0.8211659663865546) 0%, rgba(204,214,217,1) 50%, rgba(255,255,255,0.7035189075630253) 100%);
     width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.users div{
    padding: 100px 200px 0px 200px;
    text-align: justify;
}

.users ol{
    margin-top: 100px;
}

.usersPerson{
    display: flex;
    align-items: center;
}


.usersPerson span{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.schemasScreen{
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.schemasScreen span {
    width: 50%;
}

.schemasScreen img{
    margin: 0 0 0 50px;
}
.schemasScreen a{
    text-decoration: none;
    color: black;
}


.usersMockups{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.usersMockups p{
    margin:20px 0;
}
.usersMockups div{
    height: 100vh;
}


.usersAccesibility ol{
    display: flex;
}
.usersAccesibility li{
   margin: 20px;
}


.conclusions ol{
display: flex;
}

.conclusions li{
    margin: 20px;
}

.next li{
    margin: 10px 0;
}


.end{
    height: 100vh;
}

.end p{
    margin: 20px 0;
}
