.mainDetail{
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.5rem;
}

.mainDetail img{
 border-radius: 50px; 

}

hr{
    width: 100%;
    margin: 50px 0;
}

.titleDetail{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.summaryDetail{
    display: flex;
    align-items: center;
    text-align: justify;

    margin: 10px;

}

.summaryDetail span{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------ */

.summaryCharac{
    background-color: white;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;    
}

.summaryCharac ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.summaryCharac li{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: justify;
    width: 100%;
    height: 100%;
  
}

/* ------------------------------------------------------------------------------------------ */

.users{
    height: 100vh;
}

.users ol{
    margin-top: 100px;
}

.usersPerson{
    display: flex;
    align-items: center;
}

.usersPerson span{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.schemasScreen{
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.schemasScreen span {
    width: 50%;
}

.schemasScreen img{
    margin: 0 0 0 50px;
}
.schemasScreen a{
    text-decoration: none;
    color: black;
}


.usersMockups{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.usersMockups p{
    margin:20px 0;
}
.usersMockups div{
    height: 100vh;
}


.usersAccesibility ol{
    display: flex;
}
.usersAccesibility li{
   margin: 20px;
}


.conclusions ol{
display: flex;
}

.conclusions li{
    margin: 20px;
}

.next li{
    margin: 10px 0;
}


.end{
    height: 100vh;
}

.end p{
    margin: 20px 0;
}
