<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="mainDetail">
    <section class="titleDetail">
        <h1>{{this.projects.title}}</h1>
        <h4>{{this.projects.author}}</h4>
        
    </section>

    <hr>
    <br>

    <section class="summaryDetail" *ngIf="projects.summaryProject.descripcion">
        <span>
            <span *ngFor="let resumen of projects.summaryProject.descripcion">
                <p>{{resumen}}</p>
            </span>
            <strong>{{this.projects.summaryProject.time}}</strong>
        </span>
        <img src={{this.projects.summaryProject.image}} alt="image.png" width={{this.projects.summaryProject.width}}>
    </section>

    <br>

    <section class="summaryCharac">
        <ul>
            <li>
                <h3>{{this.projects.summaryProject[0].title}}</h3>
                <p>{{this.projects.summaryProject[0].descripcion}}</p>
            </li>
            <li>
                <h3>{{this.projects.summaryProject[1].title}}</h3>
                <p>{{this.projects.summaryProject[1].descripcion}}</p>
            </li>
        <br>
            <li>
                <h3>{{this.projects.summaryProject[2].title}}</h3>
                <p>{{this.projects.summaryProject[2].descripcion}}</p>
            </li>
            <li>
                <h3>{{this.projects.summaryProject[3].title}}</h3>
                <p>{{this.projects.summaryProject[3].descripcion}}</p>
            </li>
        </ul>

    </section>

    
    <hr>
    <br>

    <section class="users">
        <h2>{{this.projects.users.title}}</h2>
        <span>
            <span *ngFor="let resumen of this.projects.users.descripcion">
                <p>{{resumen}}</p>
                <br>
            </span>
        </span>

        <ol *ngIf="this.projects.users.weakPoints[0].length > 0">
            <span *ngFor="let resumen of this.projects.users.weakPoints">
                <li>{{resumen}}</li>
                <br>
            </span>
        </ol>

    </section>

    <section class="usersPerson">
        <span>
            <h4>{{this.projects.users.person1.title}}</h4>
            <h5>{{this.projects.users.person1.name}}</h5>
            <p>{{this.projects.users.person1.descripcion}}</p>
        </span>

        <img src={{this.projects.users.person1.image}} alt="image.png" width={{this.projects.users.person1.width}}>
    </section>

    <hr>
    <br>

    <section class="schemasScreen">
        <span>
            <h2>{{this.projects.design[0].title}}</h2>
            <span *ngFor="let resumen of this.projects.design[0].descripcion">
                <p>{{resumen}}</p>
          
            </span>
        </span>
        <img src={{this.projects.design[0].image}} alt="image.png" width={{this.projects.design[0].width}}
            height={{this.projects.design[0].height}}>

    </section>

    <section class="schemasScreen">
        <span>
            <h2>{{this.projects.design[1].title}}</h2>
            <span *ngFor="let resumen of this.projects.design[1].descripcion">
                <p>{{resumen}}</p>
                <br>
            </span>
        </span>

        <img src={{this.projects.design[1].image}} alt="image.png" width={{this.projects.design[1].width}}
            height={{this.projects.design[1].height}}>
    </section>

    <section class="schemasScreen">
        <span>
            <h2>{{this.projects.design[2].title}}</h2>
            <span *ngFor="let resumen of this.projects.design[2].descripcion">
                <p>{{resumen}}</p>
                <br>
            </span>
            <a href={{this.projects.design[2].link}}>Ver Proyecto</a>
        </span>

        <img src={{this.projects.design[2].image}} alt="image.png" width={{this.projects.design[2].width}}
            height={{this.projects.design[2].height}}>

    </section>


    <section class="schemasScreen" *ngIf="this.projects.design[3].descripcion.length > 1">
        <span>
            hola
            <h2>{{this.projects.design[3].title}}</h2>
            <span *ngFor="let resumen of this.projects.design[3].descripcion">
                <p>{{resumen}}</p>
                <br>
            </span>
        </span>
    </section>

    <section >
        <p>{{this.projects.design[4].rond1.title}}</p>
        <ul *ngFor="let rond of this.projects.design[4].rond1.descripcion">
            <li>{{rond}}</li>
        </ul>
        <br>
        <ng-container *ngIf="this.projects.design[4].rond2.title.length > 1">
            <p>{{this.projects.design[4].rond2.title}}</p>
            <ul *ngFor="let rond of this.projects.design[4].rond2.descripcion">
                <li>{{rond}}</li>
            </ul>
        </ng-container>

    </section>

    
    <hr>
    <br>

    <section class="usersMockups">
        <h2>{{this.projects.improveDesign.maquetas.title}}</h2>
        <div>
        <p>{{this.projects.improveDesign.maquetas[0].descripcion}}</p>

        <span>
            <img src={{this.projects.improveDesign.maquetas[0].image1}} alt="image.png">
        </span>  
        </div>
       
<div>
      <p>{{this.projects.improveDesign.maquetas[1].descripcion}}</p>
        <span>
            <img src={{this.projects.improveDesign.maquetas[1].image1}} alt="image.png">
        </span>
</div>
    </section>

    <br><br>
    <section class="schemasScreen">
        <span>
            <h2>{{this.projects.improveDesign.hiFiPrototype.title}}</h2>
            <p>{{this.projects.improveDesign.hiFiPrototype.descripcion}}</p>
            <br>
            <a href="{{this.projects.improveDesign.hiFiPrototype.link}}">Ver Prototipo</a>
            
        </span>
        <img src={{this.projects.improveDesign.hiFiPrototype.image}} alt="image.png"
            width={{this.projects.improveDesign.hiFiPrototype.width}}
            height={{this.projects.improveDesign.hiFiPrototype.height}}>
    </section>


    <section class="usersAccesibility">
        <h3>{{this.projects.improveDesign.accesibility.title}}</h3>
        <ul *ngFor="let resumen of projects.improveDesign.accesibility.descripcion">
            <li>{{resumen}}</li>
        </ul>
    </section>

    <hr>
    


    <section class="conclusions">
        <ul>
            <span *ngFor="let resumen of projects.next.conclusions">
                <li>{{resumen}}</li>
            </span>
        </ul>
    </section>

<hr>

    <section class="next">
        <ol >
            <h3>Siguientes pasos</h3>
            <li *ngFor="let resumen of projects.next.nextSteps">
                <p>{{resumen}}</p>
            </li>
        </ol>
    </section>

    <hr>
    <br>
    <section class="end">
        <p>{{this.projects.thanks.descripcion}}</p>
        <a href="https://mail.google.com/mail/u/0/#inbox">{{this.projects.thanks.email}}</a>
       

    </section>


</div>