<div class="contenedor">
    <div class="formulario">
        <h1>Contacto</h1>
        <br>
        <form class="form" action="https://formsubmit.co/luiskendornarvaez@gmail.com" method="post" >
            <label for="nombre">Nombre</label>
            <input  type="text" id="nombre" name="nombre" required placeholder="Nombre completo" ><br>

            <label for="correo">Correo Electrónico</label>
            <input type="email" id="correo" name="email" required placeholder="ejemplo@gmail.com"><br>

            <label for="asunto">Asunto</label>
            <input type="text" id="asunto" name="asunto" required placeholder="Pongamonos en Contacto" ><br>

            <label for="contenido">Contenido</label>
            <textarea id="contenido" name="contenido" rows="4" required placeholder="Ingresa tu mensaje" ></textarea><br>

            <!-- <input type="submit" value="Enviar"> -->
            <button type="submit" value="Enviar" >Enviar</button>
        </form>
    </div>


    <div class="footer">
        <p>Ejemplo de elementos de un footer:</p>
        <ul>
            <li><a href="#">    <img src="../../../assets//Image/GithubIcon.png" alt="GithubIcon" width="50px"></a></li>
            <li><a href="#"> <img src="../../../assets/Image/LinkIdinICon.png" alt="LinkIdinICon" width="50px"></a></li>
            <li><a href="#">Enlace 3</a></li>
        </ul>
    </div>
</div>