<div class="main-projects">
    <nav class="navbar">
        
        <a [routerLink]="['/']">
            <img src="../../../assets/logo-nav.png" alt="">
        </a>


        <ul class="projects-menu">
            <li routerLinkActive="active-link" >
                <a [routerLink]="['/back']" >BackEnd Projects</a></li>
            <li routerLinkActive="active-link" >
                <a [routerLink]="['/back']" >FrontEnd Projects</a></li>
            <li  routerLinkActive="active-link" >
                 <a [routerLink]="['/designProjects']" >Design/UX projects</a></li>
            <li routerLinkActive="active-link" >
                <a [routerLink]="['/About']" >About</a></li>
        </ul>


    </nav>
</div>
