/* ---------------Contenedor principal--------------- */
.main-projects {
    width: 100vw;
    height: 100vh;
    
    padding: 100px 50px ;
    overflow-x: hidden;
}

/* ---------------Contenedor secundario--------------- */
.projects {
    width: 100vw;
    padding: 100px 50px;
}   


/* --------------------Direccional------------------- */
.direccional {
    width: 90vw;
    top: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.direccional img {
    width: 50px;
    height: 50px;
}



/* --------------------Información-proyecto------------------- */
.Projetc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Projetc-info ul {
    width: 40%;
    list-style: none;
    text-align: justify;
}

.Projetc-info li {
    padding: 10px;
}



/* --------------------Información-proyecto-imagenes------------------- */
.images {
    width: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}

.images span {
    /* box-shadow: 14px 11px 29px -15px; */
    border-radius: 5px;
    /* height:400px; */

}

.images img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-timing-function: linear;
    animation-duration: 2s;
    /* animation-name: slidein;
    animation-timing-function: ease-out;
    animation-timing-function: ease; */
    /* box-shadow: inset #2d313a 7px 7px 20px 3px; */
    transition: all 1.5s ease-out;
}

.images img:hover {
    /* box-shadow: #2d313a 1px 2px 20px -5px; */

}


/* @keyframes slidein {
    from {
      width: 0%;
      
    }
  
    to {
      width: 100%;
    }
  } */